@using Microsoft.AspNet.Identity
@model ICollection<Booktrade.Models.Message>

<div class="panel-body">
    <ul class="chat">
        @{
            string time = "12 minut temu";
            foreach (Booktrade.Models.Message m in Model)
            {
                TimeSpan t = DateTime.Now - m.SendDate;
                if (t.TotalMinutes < 60)
                {
                    time = Math.Ceiling(t.TotalMinutes) + " min. temu";
                }
                else if (t.TotalHours < 24)
                {
                    time = Math.Ceiling(t.TotalHours) + " godz. temu";
                }
                else if (t.TotalDays <= 31)
                {
                    time = Math.Ceiling(t.TotalDays) + " dni temu";
                }
                else if (t.TotalDays > 31)
                {
                    time = Math.Ceiling(t.TotalDays / 31) + "mies. temu";
                }

                if (m.Receiver.Id == CurrentUser.Identity.GetUserId())
                {
                    <li class="left clearfix">
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">@m.Sender.UserName</strong> <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span>@time
                                </small>
                            </div>
                            <p>
                                @m.Text
                            </p>
                        </div>
                    </li>
                }
                else
                {
                    <li class="right clearfix">
                        <div class="chat-body clearfix">
                            <div class="header">
                                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>@time</small>
                                <strong class="pull-right primary-font">@m.Sender.UserName</strong>
                            </div>
                            <p align="right">
                                @m.Text
                            </p>
                        </div>
                    </li>
                }

            }
        }
    </ul>
</div>
