@model Booktrade.ViewModels.SellBookModel

@{
    ViewBag.Title = "Dodaj Książkę";
}

<head>
    <style>
        .form-group > * {
            margin-bottom: 10px;
        }
    </style>
    <link rel="stylesheet" href="~/Content/addImage.css">
</head>
<script src = "/scripts/addImage.js"></script>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>Wystaw książkę, którą chcesz sprzedać lub wymienić na inną.</legend>
        <div class="col-sm-6 col-sm-offset-3">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="Title" class="col-sm-5 col-lg-3 control-label">Tytuł</label>
                    <div class="col-sm-7 col-lg-9">
                        @Html.TextBoxFor(m => m.Title,
                        new { @class = "form-control", placeholder = "Tytuł książki", required = "required", Type = "text" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="Author" class="col-sm-5 col-lg-3 control-label">Autor</label>
                    <div class="col-sm-7 col-lg-9">
                        @Html.TextBoxFor(m => m.Author,
                        new { @class = "form-control", placeholder = "Autor książki", required = "required", Type = "text" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="Description" class="col-sm-5 col-lg-3  control-label">Opis</label>
                    <div class="col-sm-7 col-lg-9">
                        @Html.TextAreaFor(m => m.Description,
                        new { @class = "form-control", placeholder = "Opis książki", required = "required", Type = "textarea", rows = "4" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="Price" class="col-sm-5 col-lg-3 control-label">Cena</label>
                    <div class="col-sm-7 col-lg-9">
                        @Html.TextBoxFor(m => m.Price,
                        new { @class = "form-control", placeholder = "1234567890", required = "required", Type = "number" })
                    </div>
                </div>


                  
                        <div class="form-group">
                            <label for="BookImage" class="col-sm-5 col-lg-3 control-label">Zdjęcie</label>
                            <div class="col-sm-7 col-lg-9">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-file">
                                            Wyberz <input type="file" id="imgInp" for="BookImage" name="BookImage">
                                        </span>
                                    </span>
                                    <input type="text" class="form-control" readonly>
                                </div>

                                <img id='img-upload' />
                            </div>

                </div>

                <div class="form-group">
                    <label for="Genre" class="col-sm-5 col-lg-3 control-label">Gatunek</label>
                    <div class="col-sm-7 col-lg-9">
                        @Html.DropDownListFor(m => m.Genre, new SelectList(new List<string>() { "Fantastyka", "Sci Fi", "Kryminał", "Romans", "Dla dzieci", "Horror", "Kuchnia", "Biografia", "Historyczne", "Literatura poważna", "Turystyka" }),
                       new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="changeable" class="col-sm-5 col-lg-10 control-label">Czy chcesz wymienić się na inną książkę?</label>

                    <div class="btn-group btn-toggle">
                        <label>@Html.RadioButtonFor(i => i.Changeable, true, new { @class = "btn btn-sm btn-default", Checked="checked" })Tak</label>
                        <label>@Html.RadioButtonFor(i => i.Changeable, false, new { @class = "btn btn-sm btn-default" })Nie</label>
                    </div>
                </div>



                <div class="form-group">
                    <label for="Publisher" class="col-sm-5 col-lg-3 control-label">Wydawca</label>
                    <div class="col-sm-7 col-lg-9">
                        @Html.TextBoxFor(m => m.Publisher,
                        new { @class = "form-control", placeholder = "Wydawca", Type = "text" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="PublicationDate" class="col-sm-5 col-lg-3 control-label">Data wydania</label>
                    <div class="col-sm-7 col-lg-9">
                        @Html.TextBoxFor(m => m.PublicationDate,
                        new { @class = "form-control", Type = "date" })
                    </div>
                </div>


                <div class="col-sm-offset-5 col-sm-2">
                    <button type="submit" class="btn btn-default">Wystaw</button>
                </div>



            </form>
        </div>
    </fieldset>

    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
}


