@model ICollection<Booktrade.Models.Book>

@{
    ViewBag.Title = "MyBooks";
}
<head>
    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
    <style>
        #clicable-row:hover {
            background-color: #337ab7;
            color: white;
            cursor: pointer;
        }
    </style>
</head>
@if (Model.Where(m => m.isSold == false && m.isChanged == false).Count() !=0)
{

    <table class="table">
        <thead>
            <tr>
                <th>Data dodania</th>
                <th>Nazwa książki</th>
                <th>Cena</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
                {
                    if (!(book.isChanged || book.isSold))
                    {
                        string imageSrc = "/Images/noFoto.png";
                        if (book.ImagesForBook.FirstOrDefault() != null)
                        {
                            var firstImage = book.ImagesForBook.First();
                            string imageBase64 = Convert.ToBase64String(firstImage.Image);
                            imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                        }
                        <tr class="clickable-row" id="clicable-row" data-href="@Url.Action("Book", "Home", new { bookId = book.BookId })">

                            <td>
                                <img class="displayed" onError="this.onerror = null; this.src = '/Images/noFoto.png';" src="@imageSrc"
                                     width="50" height="50" onmouseover="this.src='@imageSrc';this.width=200;this.height=200;" onmouseout="this.width=50;this.height=50" />  @book.AddDate
                                </td>
                                <td>@book.Author - @book.Title</td>
                                <td>@book.Price zł.</td>
                        </tr>
                }
            }
        </tbody>
    </table>

}
else
{
    <h2>Sprzedawca nic nie sprzedaje </h2>
}



