@model Booktrade.ViewModels.EditBookModel
@{
    ViewBag.Title = "Książka";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/Content/lightbox.css" rel="stylesheet">
    <link href="~/Content/pgwslider.css" rel="stylesheet">
    <link href="~/Content/shop-homepage.css" rel="stylesheet">
    <script src="~/scripts/pgwslider.js"></script>
    <script src="~/scripts/lightbox.js"></script>

    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <script>

        $(document).ready(function () {
            $('.story-small').each(function () {
                var maxWidth = 300; // Max width for the image
                var maxHeight = 150;    // Max height for the image
                var ratio = 0;  // Used for aspect ratio
                var width = $(this).width();    // Current image width
                var height = $(this).height();  // Current image height

                // Check if the current width is larger than the max
                if (width > maxWidth) {
                    ratio = maxWidth / width;   // get ratio for scaling image
                    $(this).css("width", maxWidth); // Set new width
                    $(this).css("height", height * ratio);  // Scale height based on ratio
                    height = height * ratio;    // Reset height to match scaled image
                    width = width * ratio;    // Reset width to match scaled image
                }

                // Check if current height is larger than max
                if (height > maxHeight) {
                    ratio = maxHeight / height; // get ratio for scaling image
                    $(this).css("height", maxHeight);   // Set new height
                    $(this).css("width", width * ratio);    // Scale width based on ratio
                    width = width * ratio;    // Reset width to match scaled image
                }
            });
        });

        $("#imgSmall").click(function () {
            $("#imgBig").attr("src", "http://www.freeimageslive.com/galleries/space/earth/pics/a17_h_148_22718.gif");
            $("#overlay").show();
            $("#overlayContent").show();
        });

        $("#imgBig").click(function () {
            $("#imgBig").attr("src", "");
            $("#overlay").hide();
            $("#overlayContent").hide();
        });
    </script>

</head>

@{
    AppDbContext db = new AppDbContext();
    var book = db.Books.Single(m => m.BookId == Model.Id);
    var delivery = book.DeliveryforBook.ToList();



}
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Kategorie</p>
                <div class="list-group">
                    <a href="#" class="list-group-item category">Fantastyka</a>
                    <a href="#" class="list-group-item category">Sci Fi</a>
                    <a href="#" class="list-group-item category">Kryminały</a>
                    <a href="#" class="list-group-item category">Romanse</a>
                    <a href="#" class="list-group-item category">Dla dzieci</a>
                    <a href="#" class="list-group-item category">Horrory</a>
                    <a href="#" class="list-group-item category">Kuchnia</a>
                    <a href="#" class="list-group-item category">Biografie</a>
                    <a href="#" class="list-group-item category">Historyczne</a>
                    <a href="#" class="list-group-item category">Literatura poważna</a>
                    <a href="#" class="list-group-item category">Turystyka</a>
                    <a href="#" class="list-group-item category">Dramat</a>
                    <a href="#" class="list-group-item category">Sensacyjne</a>
                </div>
            </div>
            <div class="col-md-9">
                <h2>
                    @Model.Author - @Model.Title
                </h2>
                <ul class="pgwSlider">
                    @{int k = 0;
                        if (Model.BookImages.Count() == 0)
                        {
                            <li>
                                <img src="~/Images/noFoto.png" class="story-small">
                                <a href="" title="@Model.Author - @Model.Title">   </a>
                            </li>
                        }
                        foreach (string img in @Model.BookImages)
                        {
                            <li>
                                <a href="@img" title="@Model.Author - @Model.Title" rel="lightbox" id="img-hoover"></a>
                                <img src="@img" />
                            </li>
                            k++;

                        }
                    }
                </ul>
                <div id="overlay"></div>
                <div id="overlayContent">
                    <img id="imgBig" src="" alt="" width="400" />
                </div>
                <div class="col-md-9">
                    <hr>
                    <div class="col-md-9">
                        <p>Data wystawienia: @Model.AddDate</p>
                        <p>Gatunek: @Model.Genre</p>
                        @if (@Model.Publisher != null)
                        {
                            <p>Wydawca: @Model.Publisher</p>
                        }
                        @if (@Model.PublicationDate.HasValue)
                        {
                            <p>Data wydania: @Model.PublicationDate.Value.Year</p>
                        }

                    </div>
                    <div class="col-md-3">
                        <a href='@Url.Action("Usr", "Home", new { userId = Model.Seller.Id })'><p>Sprzedawca @Model.Seller.Name</p></a>
                        @{
                            string color = "red";
                            if (Model.Average >= 2.7 && Model.Average <= 4.0)
                            {
                                color = "orange";
                            }
                            if (Model.Average > 3.80)
                            {
                                color = "green";
                            }
                            if (Model.Average == Model.Average)
                            {
                                for (int i = 0; i < Math.Floor(Model.Average); i++)
                                {
                                    <span class="glyphicon glyphicon-star" style="color:@color" aria-hidden="true"></span>
                                }
                                double halfstar = Model.Average - Math.Floor(Model.Average);
                                if (halfstar >= 0.50)
                                {
                                    <span class="glyphicon glyphicon-star half" style="color: @color" aria-hidden="true"></span>
                                } @:(@Model.Average)
                            }
                            else
                            {
                                <p>brak komentarzy</p>
                            }
                        }
                        <p>@Model.Seller.City, @Model.Seller.Province</p>
                        @if (User.Identity.IsAuthenticated && Model.Seller.UserName != User.Identity.Name)
                        {
                            <a href='@Url.Action("NewMessage", "Message", new { receiverId = Model.Seller.Id })' type="button" class="btn btn-primary btn-block">Wiadomość</a>
                        }

                    </div>
                </div>
                <div class="col-md-3">
                    <br />
                    <br />
                    @if (User.Identity.IsAuthenticated && (Model.Seller.UserName != User.Identity.Name) && !(book.isChanged || book.isSold))
                    {

                        if (Model.Changeable == false && Model.Price == 0)
                        {
                            <h3 class="text-center">Za darmo</h3>
                            <button type="button" class="btn btn-success btn-block">Wybierz tę książkę</button>
                        }
                        else if (Model.Changeable == true && Model.Price == 0)
                        {
                            <h3 class="text-center">Tylko wymiana</h3>
                            <a href='@Url.Action("Proposition", "Transaction", new { bookId = Model.Id })' type="button" class="btn btn-info btn-block">Wymień</a>
                        }
                        else if (Model.Changeable == true && Model.Price > 0)
                        {
                            <a data-toggle="modal" data-id="@book.BookId" class="open-buyDialog btn btn-success btn-block" data-target="#buyModal">Kup teraz</a>
                            <h4 class="text-center">@Model.Price zł</h4>
                            <a href='@Url.Action("Proposition", "Transaction", new { bookId = Model.Id })' type="button" class="btn btn-info btn-block">Wymień</a>
                        }
                    }
                    else
                    {
                        if (!User.Identity.IsAuthenticated)
                        {
                            <h4 class="text-center">@Model.Price zł</h4>
                            <a href='@Url.Action("LogIn", "Auth", new { bookId = Model.Id })' type="button" class="btn btn-warning btn-block">Zaloguj się</a>
                        }
                    }



                </div>
                <div class="col-md-9">
                    <hr>
                    <p>@Model.Description</p>
                </div>
                <div class="col-md-3">
                    <h4>Opcje dostawy:</h4>
                    @for (int i = 0; i < delivery.Count; i++)
                    {
                        <p>@delivery[i].Name - @delivery[i].Price zł.</p>
                    }
                </div>
            </div>
            <div class="col-lg-12">
                @if (Model.OfferBooks.Count() != 0) { 
                    @:<br />
                    @:<br />
                    @:<hr />
                    @:<h3>Podobne książki wybrane dla Ciebie</h3>
                    var model = Model.OfferBooks.Where(m => !(m.isChanged|| m.isSold) && m.BookId != book.BookId);
                    foreach (var offerbook in model.Take(4))
                    {
                        model.Count();
                        string imageSrc = "/Images/noFoto.png";
                        if (offerbook.ImagesForBook.FirstOrDefault() != null)
                        {
                            var firstImage = offerbook.ImagesForBook.First();
                            string imageBase64 = Convert.ToBase64String(firstImage.Image);
                            imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                        }
                            <div class="col-sm-3 col-lg-3 col-md-3">
                                <div class="thumbnail">
                                    <div style="height:150px; position:center;  top:0;left: 0;">
                                        <style>
                                            div > img {
                                                margin: 0 auto;
                                                display: block;
                                            }
                                        </style>
                                        <a href='@Url.Action("Book", "Home", new { bookId = offerbook.BookId })'>
                                            <img src='@Url.Content(@imageSrc)' class="story-small" />
                                        </a>
                                    </div>


                                    <div class="caption" style="width: 100%; word-wrap: break-word; position:relative;">
                                        <div style="height:50px">
                                            <h5>
                                                <a href="@Url.Action("Book", "Home", new { bookId = offerbook.BookId })">@offerbook.Author - @offerbook.Title</a>
                                            </h5>
                                        </div>
                                        @offerbook.Genre
                                        @{
                                            if (offerbook.Changeable == true)
                                            {
                                                <i class="fa fa-check-square" title="Możliwość wymiany" style="color:lightgreen"></i>
                                            }
                                        }
                                        <div>
                                            @if (offerbook.Changeable == false && offerbook.Price == 0)
                                            {
                                                <h4 class="pull-right">Za darmo</h4>
                                            }
                                            else if (offerbook.Changeable == true && offerbook.Price == 0)
                                            {
                                                <h4 class="pull-right">Tylko wymiana</h4>
                                            }
                                            else
                                            {
                                                <h4 class="pull-right">@offerbook.Price zł</h4>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    }
                                            }
            </div>
        </div>
    </div>



    <div class="modal fade" id="buyModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Potwierdzenie</h4>
                </div>
                <div class="modal-body">

                    <h3>@Model.Author - @Model.Title</h3>
                    <h4>Cena: @Model.Price zł.</h4>
                    <p>Czy na pewno chcesz kupić tę książkę? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    <a href="#" class="btn btn-success" id="buyLink">Kup za @Model.Price zł</a>
                </div>
            </div>
        </div>
    </div>

        <script>
            $(document).ready(function () {
                $('.pgwSlider').pgwSlider();
            });
            $('.open-buyDialog').click(function (e) {
                var bookId = $(this).data('id');
                var link = "/Transaction/BuyNow?bookId=" + bookId;
                $("#buyLink").attr("href", link);
            });

        </script>

        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                                            }