@model Booktrade.ViewModels.EditBookModel
@{
    ViewBag.Title = "Książka";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/Content/lightbox.css" rel="stylesheet">
    <link href="~/Content/pgwslider.css" rel="stylesheet">
    <script src="~/scripts/pgwslider.js"></script>
    <script src="~/scripts/lightbox.js"></script>

    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/shop-item.css" rel="stylesheet">
    <script>
        $(document).ready(function () {
            $('.story-small').each(function () {
                var maxWidth = 300; // Max width for the image
                var maxHeight = 300;    // Max height for the image
                var ratio = 0;  // Used for aspect ratio
                var width = $(this).width();    // Current image width
                var height = $(this).height();  // Current image height

                // Check if the current width is larger than the max
                if (width > maxWidth) {
                    ratio = maxWidth / width;   // get ratio for scaling image
                    $(this).css("width", maxWidth); // Set new width
                    $(this).css("height", height * ratio);  // Scale height based on ratio
                    height = height * ratio;    // Reset height to match scaled image
                    width = width * ratio;    // Reset width to match scaled image
                }

                // Check if current height is larger than max
                if (height > maxHeight) {
                    ratio = maxHeight / height; // get ratio for scaling image
                    $(this).css("height", maxHeight);   // Set new height
                    $(this).css("width", width * ratio);    // Scale width based on ratio
                    width = width * ratio;    // Reset width to match scaled image
                }
            });
        });
    </script>
</head>
@{
    AppDbContext db = new AppDbContext();
    var book = db.Books.Single(m => m.BookId == Model.Id);
    var delivery = book.DeliveryforBook.ToList();



}
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Kategorie</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Fantastyka</a>
                    <a href="#" class="list-group-item">Sci Fi</a>
                    <a href="#" class="list-group-item">Kryminały</a>
                    <a href="#" class="list-group-item">Romanse</a>
                    <a href="#" class="list-group-item">Dla dzieci</a>
                    <a href="#" class="list-group-item">Horrory</a>
                    <a href="#" class="list-group-item">Kuchnia</a>
                    <a href="#" class="list-group-item">Biografie</a>
                    <a href="#" class="list-group-item">Historyczne</a>
                    <a href="#" class="list-group-item">Literatura poważna</a>
                    <a href="#" class="list-group-item">Turystyka</a>
                    <a href="#" class="list-group-item">Dramat</a>
                    <a href="#" class="list-group-item">Sensacyjne</a>
                </div>
            </div>
            <div class="col-md-9">
                <h2>
                    @Model.Author - @Model.Title
                </h2>
                <ul class="pgwSlider">
                    @{int k = 0;
                        if (Model.BookImages.Count() == 0)
                        {
                            <li>
                                <img src="~/Images/noFoto.png">
                                <a href="~/Images/noFoto.png" title="@Model.Author - @Model.Title" rel="lightbox">   </a>
                            </li>
                        }
                        foreach (string img in @Model.BookImages)
                        {
                            <li>
                                <img src="@img">
                                <a href="chuj" title="@Model.Author - @Model.Title" rel="lightbox">   </a>
                            </li>
                            k++;

                        }
                    }
                </ul>
                <div class="col-md-9">
                    <hr>
                    <div class="col-md-9">
                        <p>Data wystawienia: @Model.AddDate</p>
                        <p>Gatunek: @Model.Genre</p>
                        @if (@Model.Publisher != null)
                        {
                            <p>Wydawca: @Model.Publisher</p>
                        }
                        @if (@Model.Publisher != null)
                        {
                            <p>Data wydania: @Model.PublicationDate</p>
                        }

                    </div>
                    <div class="col-md-3">
                        <p>@Model.PublicationDate</p>
                        <a href='@Url.Action("Usr", "Home", new { userId = Model.Seller.Id })'><p>Sprzedawca @Model.Seller.Name</p></a>
                        @{
                            string color = "red";
                            if (Model.Average >= 2.7 && Model.Average <= 4.0)
                            {
                                color = "orange";
                            }
                            if (Model.Average > 3.80)
                            {
                                color = "green";
                            }
                            if (Model.Average == Model.Average)
                            {
                                for (int i = 0; i < Math.Floor(Model.Average); i++)
                                {
                                    <span class="glyphicon glyphicon-star" style="color:@color" aria-hidden="true"></span>
                                }
                                double halfstar = Model.Average - Math.Floor(Model.Average);
                                if (halfstar >= 0.50)
                                {
                                    <span class="glyphicon glyphicon-star half" style="color: @color" aria-hidden="true"></span>
                                } @:(@Model.Average)
                            }
                            else
                            {
                                <p>brak komentarzy</p>
                            }
                        }
                        <p>@Model.Seller.City, @Model.Seller.Province</p>
                        @if (User.Identity.IsAuthenticated && Model.Seller.UserName != User.Identity.Name)
                        {
                            <a href='@Url.Action("NewMessage", "Message", new { receiverId = Model.Seller.Id })' type="button" class="btn btn-primary btn-block">Wiadomość</a>
                        }

                    </div>
                </div>
                <div class="col-md-3">
                    <br />
                    <br />
                    @if (User.Identity.IsAuthenticated && (Model.Seller.UserName != User.Identity.Name) && !(book.isChanged || book.isSold))
                    {

                        if (Model.Changeable == false && Model.Price == 0)
                        {
                            <h3 class="text-center">Za darmo</h3>
                            <button type="button" class="btn btn-success btn-block">Wybierz tę książkę</button>
                        }
                        else if (Model.Changeable == true && Model.Price == 0)
                        {
                            <h3 class="text-center">Tylko wymiana</h3>
                            <a href='@Url.Action("Proposition", "Transaction", new { bookId = Model.Id })' type="button" class="btn btn-info btn-block">Wymień</a>
                        }
                        else if (Model.Changeable == true && Model.Price > 0)
                        {
                            <a data-toggle="modal" data-id="@book.BookId" class="open-buyDialog btn btn-success btn-block" data-target="#buyModal">Kup teraz</a>
                            <h4 class="text-center">@Model.Price zł</h4>
                            <a href='@Url.Action("Proposition", "Transaction", new { bookId = Model.Id })' type="button" class="btn btn-info btn-block">Wymień</a>
                        }
                    }
                    else
                    {
                        if (!User.Identity.IsAuthenticated)
                        {
                            <h4 class="text-center">@Model.Price zł</h4>
                            <a href='@Url.Action("LogIn", "Auth", new { bookId = Model.Id })' type="button" class="btn btn-warning btn-block">Zaloguj się</a>
                        }
                    }



                </div>
                <div class="col-md-9">
                    <hr>
                    <p>@Model.Description</p>
                </div>
                <div class="col-md-3">
                    <h4>Opcje dostawy:</h4>
                    @for (int i = 0; i < delivery.Count; i++)
                    {
                        <p>@delivery[i].Name - @delivery[i].Price zł.</p>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="buyModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Potwierdzenie</h4>
                </div>
                <div class="modal-body">

                    <h3>@Model.Author - @Model.Title</h3>
                    <h4>Cena: @Model.Price zł.</h4>
                    <p>Czy na pewno chcesz kupić tę książkę? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    <a href="#" class="btn btn-success" id="buyLink">Kup za @Model.Price zł</a>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
                            <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
                            <script src="js/bootstrap.min.js"></script>
                            <script>
                                $(document).ready(function () {
                                    $('.pgwSlider').pgwSlider();
                                });
                                $('.open-buyDialog').click(function (e) {
                                    var bookId = $(this).data('id');
                                    var link = "/Transaction/BuyNow?bookId=" + bookId;
                                    $("#buyLink").attr("href", link);
                                });

                            </script>

                            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                            }