
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/shop-homepage.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @{
        AppDbContext db = new AppDbContext();
        var books = db.Books.ToList();
    }
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Kategorie</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Fantastyka</a>
                    <a href="#" class="list-group-item">Sci Fi</a>
                    <a href="#" class="list-group-item">Kryminały</a>
                    <a href="#" class="list-group-item">Romanse</a>
                    <a href="#" class="list-group-item">Dla dzieci</a>
                    <a href="#" class="list-group-item">Horrory</a>
                    <a href="#" class="list-group-item">Kuchnia</a>
                    <a href="#" class="list-group-item">Biografie</a>
                    <a href="#" class="list-group-item">Historyczne</a>
                    <a href="#" class="list-group-item">Literatura poważna</a>
                    <a href="#" class="list-group-item">Turystyka</a>
                    <a href="#" class="list-group-item">Dramat</a>
                    <a href="#" class="list-group-item">Sensacyjne</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row carousel-holder">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="/Images/books1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="/Images/books2.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="/Images/books3.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
               @if (books != null)
               {
                   foreach (var book in books)
                   {
                       string imageSrc = "/Images/noFoto.png";
                       if (book.BookImage != null)
                       {
                           string imageBase64 = Convert.ToBase64String(book.BookImage);
                           imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                       }
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="@imageSrc" alt="Coś się rypło">
                            <div class="caption">

                                <h4>
                                    <a href="#">@book.Author - @book.Title</a>
                                </h4>
                                <p>@book.Description</p>
                                <h4 class="pull-right">@book.Price zł</h4>
                            </div>
                        </div>
                    </div>
                       }
                   
               }
               else
               {
                   <h1>Aktualnie brak ofert ;( </h1>
               }
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <div class="container">
        <hr>
        <!-- Footer -->
    </div>
</body>
</html>
